:root {
    --grey-background: #212121;
    --white-background: #ffffff;
    --blue-text: #2196f3;
    --light-grey: #757575;
    --footer-grey: #2f303a;
    --logo-black: #000;
    --footer-contact-grey: rgba(255, 255, 255, 0.6);
    --button-background: #f5f4fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    border-bottom: var(--footer-grey) solid 0.01px;
}
#header {
    height: 80px;
    display: flex;
}
#header ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}

h1 {
    margin: 0;
}
.full-witdh {
    width: 100%;
}
.container {
    width: 1200px;
    margin: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.top-header {
    display: flex;
    flex-direction: row;
    margin: 0px;
    border-bottom: #ececec;
    max-width: 1600px;
    max-height: 80px;
}

.navigation-list {
    list-style: none;
    display: flex;
    gap: 46px;
    padding: 30px;
    margin: 0px;
}
.navigation-list li a {
    color: var(--grey-background);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation-list li a:hover,
.navigation-list li a:focus {
    color: var(--blue-text);
    cursor: pointer;
}
.header-contact-list {
    padding: 30px;
    gap: 50px;
    margin-left: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.header-contact-list li a {
    color: var(--light-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
}
.header-contact-list li a:hover,
.header-contact-list li a:focus {
    color: var(--blue-text);
}
.logo-black {
    color: var(--logo-black);
}
.logo-white {
    color: var(--white-background);
}
.logo {
    text-align: center;
    color: var(--blue-text);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding: 25px;
}
.active {
    color: var(--blue-text);
}

.service {
    background: var(--footer-grey);
    color: var(--white-background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    padding: 200px;
    letter-spacing: 0.06em;
    font-style: normal;
}
.service button {
    color: var(--white-background);
    background-color: var(--blue-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.category-selection {
    color: var(--grey-background);
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 34px;
}
.category-select {
    background-color: var(--button-background);
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.category-select:hover,
.category-select:focus {
    color: var(--white-background);
    background-color: var(--blue-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.contact-list {
    list-style: none;
    display: flex;
    gap: 50px;
}
.contact-item {
    color: var(--light-grey);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
}
.contact-item:hover,
.contact-item:focus {
    color: var(--blue-text);
}
h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.articles-list {
    list-style: none;
    text-align: justify;
    gap: 30px;
    letter-spacing: 0.03em;
    display: flex;
    margin: 0px;
}
.articles-list h4 {
    color: var(--grey-background);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.articles-list p {
    color: var(--light-grey);
    font-size: 14px;
    line-height: 1.71;
}
.job-list {
    list-style: none;
    gap: 30px;
    white-space: pre-wrap;
    display: flex;
}
.team-list {
    background: #f5f4fa;
    list-style: none;
    gap: 30px;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 93px;
}
.team-list li {
    background: var(--white-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.team-list span {
    display: block;
    margin: 20px;
}
.img-section-list {
    list-style: none;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.img-section-list li {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-item {
    flex-basis: calc((100% - 10px) / 3);
    padding-bottom: 30px;
}
.img-item span {
    display: block;
    margin: 4px;
}
.img-title {
    color: var(--grey-background);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.img-description {
    color: var(--light-grey);
}
.footer-container {
    width: 1600px;
    height: 252px;
    background-color: var(--footer-grey);
    padding: 60px;
    margin: 0 auto;
}
.contact-list-footer {
    list-style: none;
    gap: 9px;
    padding: 30px;
}
.contact-list-footer li {
    margin: 9px;
}
.contact-item-address {
    color: var(--white-background);
    text-decoration: none;
    font-style: normal;
}
.footer-contact-item {
    color: var(--footer-contact-grey);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
}
.footer-contact-item:hover,
.footer-contact-item:focus {
    color: var(--blue-text);
}
.mail-underline {
    text-decoration: underline;
}
